.cabecalho {
    background-color: #23165b;
    padding: 20px;
    margin-top: -15px;
}

/* .titulo_nav {
    position: relative;
    width: 940px;
    margin: o auto;
}
 */
.menu {
    padding-top: 5px;
    position: absolute;
    top: 80px;
    right: 0;
}

.item_menu {
    display: inline;
    margin: 0 0 0 15px;
}

 .link_menu {
    text-decoration: none;
    text-transform: uppercase;
    color: burlywood;
    font-weight: bold;
    font-size: 20px;
    margin-right: 60px;
}
 
.link_menu:hover {
    letter-spacing: 0.5px;
    text-decoration: none;
    color: white;
    text-decoration: underline;
    transform-origin: left;
    visibility: hidden;
    transition: all 1s;
}
 

p {
    font-size: 20px;
}

h2 {
    color: grey;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1rem;
}

body {
    background: linear-gradient(45deg, #684c97, #4cb5e5, #80d7df, #ffec96, #fdaf6d, #fd4d7c); 
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.temas {
    color:aliceblue;
    margin: 20px;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-weight: bold;
    margin: 10px;
}

.texto {
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.2);
    padding-top: 25px;
    border:3px solid white; 
    padding: 5px;
    border-radius: 8px;
    text-align:justify;
    padding: 50px 12px; 
    margin: 50px;
    vertical-align:top;
    text-align: justify;
    color: aliceblue;
}

.objetivo {
    color: aliceblue;
}



.rodape {
    background-color: #23165b;
    color: white;
    height: 30px;
    text-align: center;
    padding-top: 7px;
    bottom: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media screen and (max-width: 768px) {
    main {
        width: 100%;
    }
    
    .cabecalho{
        display: flex;
        flex-direction:column;
        align-items: center;
    }

    .temas {
        text-align: center;
        font-size: 25px;
    }

    
    .rodape{
        position: fixed;
    }

    .menu {
        position: static; 
    }

    .ul_lista {
        display: flex;
        flex-direction: column;
    }
    
    .item_menu {
        margin: 0 0 0 15px;
    }

    .link_menu {
        
        font-size: 30px;
    }
} 