.cabecalho {
    background-color:rgb(161, 45, 45);
}

/* .titulo_nav{
position: absolute;    
width: 944px ;
margin:0 auto ;
}
 */
.menu {
    position: absolute;
    top: 5px;
    right: 0;
}

.item_menu {
    display: inline;
    margin: 0 0 0 10px;
}

.link_menu {
    text-decoration: none;
    text-transform: uppercase;
    color: wheat;
    font-weight: bold;
    font-size: 30px;
    margin-right: 60px;
    
}
.div_sobre {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
    top: 80px;
    right: 40%;
}
.sobre img {
    text-align: center;
    width: 100%;
}

.sobre {
width: 940px;
margin: 0 auto;
text-align:center; 
}

.sobre li {
 display:inline-block ;   
 padding: 50px 0; 
 margin-left: 50px;
 vertical-align:top ;
 text-align: center;

}
.sobre h2 {
 font-size:20px ;   
 font-weight:bold ;
 padding:5px 0 ;
 text-align: center;

}
.sobre p {
 text-align:justify ; 
 width:200px;
 padding: 5px 0;  
}


@media screen and (max-width: 768px) {
    .sobre {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-left: -30px;
    width: 100%;
    }
 

    /* .ifms {
        display: flex;
        margin-left: 70px;
    } */

    .ul_lista {

        flex-direction: column;
    }

   /*  .menu{
        position: static; 
        align-items: center;
    } */
}
