.cabecalho {
    background-color: #23165b;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 25px;
}

form {
    display: block;
    margin-right: 30%;
    margin-left: 40%;
    margin-top: 10%;
}


form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 10px;
    padding-bottom: 10px;
    margin-left: 15px; 
}

.input-padrao {
    display: block;
    margin: 0 0 20px 0;
    padding: 10px 25px;
    width: 50%;
} 

div.box {
	width: 230px;
	display: inline-block;
}


.div-mensagem {
    font-size: 14px;
    color: red;
    font-style: italic;
    padding-bottom: 10px;
    line-height: 15px;
}

.checkbox {
    margin: 20px 0;
}

.select-periodo {
    width: 200px;
    height: 30px;
    border: 2px solid gray;
}

.enviar {
    width: 50%;
    padding: 15px 0;
    background-color: lightsalmon;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer
}

.enviar:hover {
    background-color: rgb(161, 45, 45);
}


@media screen and (max-width: 768px) {
    main {
        width: 100%;
    }

}
  